.container {
    padding: 5%;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cartHeader p {
    font-family: 'Gelasio', serif;
    font-size: 2rem;
    font-weight: bold;
}

.divBackIcon {
    font-size: 35px;
}

.backIcon {
    font-size: 25px;
    color: black;
}

.mainCart {
    padding-bottom: 142px;
}

.footerCart {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    width: 91%;
    margin-left: 4.8%;
    padding: 5% 0%;
    padding-top: 5%;
    border-top: 2px solid var(--secondaryColor);
    background-color: #f3f3f3;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
}

.totalPrice p:nth-child(1) {
    font-size: 2rem;
    color: #808080;
    font-weight: bold;
}

.totalPrice p:nth-child(2) {
    font-size: 2rem;
    color: #303030;
    font-weight: bold;
}

.continueButton {
    background-color: var(--secondaryColor);
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    border-radius: 8px;
    width: 100%;
    margin-top: 1.9rem;
    padding: 1.6rem 0px;
}

.versionDesk {
    display: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Tablet                                   */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width:768px) {

    .container {
        padding-bottom: 0%;
    }

    .footerCart {
        position: relative;
        margin-left: 0%;
        width: 100%;
    }

    .versionDesk {
        display: block;
    }

    .mainCart {
        padding-bottom: 30px;
    }

    .cartHeader {
        margin-bottom: 25px;
    }

    .cartHeader p {
        font-size: 2.5rem;
    }

    .divBackIcon {
        font-size: 40px;
    }

    .backIcon {
        font-size: 30px;
    }

}

/* -------------------------------------------------------------------------- */
/*                                   Desktop                                  */
/* -------------------------------------------------------------------------- */

@media only screen and (min-width:1024px) {


    .container {
        padding: 1.8% 5% 0.8%;
    }

    .versionDesk {
        display: block;
    }

    .containerDesk {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;
    }

    .divBackIcon {
        display: none;
    }

    .cartHeader {
        justify-content: center;
    }

    .cartHeader p {
        font-size: 3rem;
        letter-spacing: 1px;
    }

    .mainCart {
        padding: 0px 30px 0px 0px;
        border-right: 2px solid var(--tertiaryColor);
        height: 500px;
        overflow-y: scroll;

    }

    .footerCart {
        padding: 0px 0px 0px 30px;
        border-top: hidden;
    }

    .totalPrice{
        margin-top: 0.5rem;
    }

    .totalPrice p{
        letter-spacing: 2px;
    }

    .continueButton {
        margin-top: 8.5rem;
        letter-spacing: 2px;
    }



}