.greeting{
    font-family: "Merriweather";
    color:  var(--tertiaryColor);
    font-size: 2.5rem;
    padding:10px 30px;
}

.register{
    /* border: 1px solid red; */
    padding:30px 0px 30px 30px;
    width: 90%;
    color:var(--tertiaryColor);
    box-shadow: 0px 7px 30px rgba(138, 149, 158, 0.2);
}
.register form{
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    font-size: 1.4rem;
    
}

.register label{
    padding-top:25px;
}

.register input{
    border: none;
    border-bottom: 1px solid var(--principalColor);
    margin-top:10px;
    color:  var(--tertiaryColor);
    background-color: #f3f3f3;
}
.register input:focus{
    outline: none;
    background-color: #f3f3f3;
}
.register form .final{
    padding-top:30px;
    font-size: 1.6rem;
    text-align: center;
    width: 90%;

}
.register .button{
    border: none;
    padding:10px;
    width: 100%;
    background-color: var(--secondaryColor);
    color:white;
    font-size: 1.8rem;
    border-radius: 5px;
    margin: 30px 0px;
    box-shadow: 0px 7px 30px rgba(138, 149, 158, 0.2);

}
.register .button:hover{
    background-color: var(--tertiaryColor);
}
.register form .buton:active{
    box-shadow: 0px 5px 10px rgba(3, 3, 3, 0.2) inset;
}

.register form a{
    color:var(--secondaryColor);
}
.register form .description{
    border: none;
    border-bottom: 1px solid var(--principalColor);
    margin:10px 0px;
    color:  var(--tertiaryColor);

}
.register form .description:focus{
    outline: none;
}
.register form .picture{
    /* background-color: red; */
    display:none;
}
.register form .photo{
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.register form .field{
    /* background-color: red; */
    display: inline-block;
    height: 40px;
    border-bottom: 1px solid var(--principalColor);
    color:  var(--tertiaryColor);
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.register form .file{
    background-color: var(--tertiaryColor);
    margin-top: 10px;
    color: white;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    
}
.register form .file:active{
     box-shadow: 0px 5px 10px rgba(3, 3, 3, 0.2) inset;
}

.register form .file:active{
    box-shadow: 0px 5px 10px rgba(3, 3, 3, 0.2) inset;
}

.register form .password{
    border:none;
    width: 90%;
}
.register form .wrap{
    border-bottom: 1px solid var(--principalColor);
}
.register form .error{
    color:red;
}


@media only screen and (min-width:480px){
    .wrap_form {
        /* background-color: green; */
        margin:auto;
        height: 500px;
        width:50%;
    }
}

@media only screen and (min-width:768px){
    .wrap_form{
        /* background-color: red; */
        height: 700px;
      
    }
    .register form{
        font-size: 1.6rem;
    }
    .wrap_form a{
        font-size: 1.4rem;
    }
}

@media only screen and (min-width:1024px){
    .wrap_form{
        /* background-color: violet; */
        width:40%;
    }
}

/* 320-480-600-768-1024-1200 */