.header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;

}
.header .line{
    background-color: var(--tertiaryColor);
    margin-left:10px;
    margin-right:10px;
    height: 1px;
    width: 50%;
}

.header img{
    border-radius: 50%;
    width: 100%;
    box-shadow: 0px 7px 5px rgba(138, 149, 158, 0.2);
    
}
.header .logo{
    width: 35%;

}

 
@media only screen and (min-width:480px){
    .header {
        display: none;
    }
}


