.header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;

}

.header img{
    border-radius: 50%;
    width: 20%;
    
}
.header .line{
    background-color: var(--tertiaryColor);
    margin-left:10px;
    margin-right:10px;
    height: 1px;
    width: 40%;
}

@media only screen and (min-width:480px){
    .header img{
        border-radius: 50%;
        width: 20%;
        /* border:3px solid red; */
        
    }
}

@media only screen and (min-width:768px){
    .header img{
        width: 10%;
        /* border:3px solid green;     */
    }
}
