
.container{
    padding: 5%;
}

.cartHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cartHeader p{
    font-family: 'Gelasio', serif;
    font-size: 2rem;
    font-weight: bold;
}

.divBackIcon{
    font-size: 35px;
}

.backIcon{
    font-size: 25px;
}

main{
    padding-bottom: 142px;
}

footer{
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    width: 91%;
    margin-left: 4.8%;
    padding: 5% 0%;
    padding-top: 5%;
    border-top: 2px solid var(--secondaryColor);  
}

.totalPrice{
    display: flex;
    justify-content: space-between;
}

.totalPrice p:nth-child(1){
    font-size: 2rem;
    color: #808080;
    font-weight: bold;
}

.totalPrice p:nth-child(2){
    font-size: 2rem;
    color: #303030;
    font-weight: bold;
}

.continueButton{
    background-color: var(--secondaryColor);
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    border-radius: 8px;
    width: 100%;
    margin-top: 1.9rem;
    padding: 1.6rem 0px;
}