

.headerLogo{
    display:flex;
    background-color: var(--principalColor);
}

.headerLogo img{
    margin-left: auto ;
    margin-right: auto;
}

/*********** NAVSCROLL ************/
.navScroll{
    max-height: 6rem;
   /* border: 1px solid var(--principalColor); */
    display: flex;
    overflow: auto;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    overflow-x: auto;
}

.navScroll::-webkit-scrollbar{
    width: 0;
}

.topnav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    min-width: 60px;
    overflow: hidden;
    white-space: nowrap;
   
    color: var(secondaryColor);
    
    margin-left: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.topnav__icon:hover {
    background-color: var(--principalColor);
    color: #fff;
}
.topnav__link:visited {
    color: var(--principalColor);
}

.topnav__icon {
    font-size: 25px;
    background:#F0F0F0;
    border-radius: 10px;
    padding: 0.6rem;
 margin-top: 1rem;
 margin-bottom: 0.2rem;
    text-align: center;   
    margin-left: 1rem;
    margin-right: 1rem;
    background-size: 3rem;
}

 .nav__text{
    color: var(--secondaryColor);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

/********************** MAIN *********************/
.containerCard{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 45%;
    min-height: 200px;
    margin-top: 1rem;
    margin-bottom:1rem;
    font-size: 14px;
    
}

.containerCard img{
    border-radius: 10px;
    width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

h2{
    font-size: 14px;
}
h3{
    font-size: 14px;
}

.containerCard h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    
   
    color: #606060;
}

.containerCard h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    
    padding-top: 0.5rem;
    color: #303030;
}

.cardList {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 4rem;
}

.navBottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
   
    color: #9C9C9C;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}

.nav__icon:hover {
color: #444444;
}

/**************WSP ICON****************/
.btn__wsp{
    position: fixed;
    width: 3rem;
    height: 3rem;
    line-height: 55px;
    bottom: 5rem;
    right: 1.8rem;
    background-color: #99723B;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.btn__wsp:active{
    text-decoration: none;
    color: #99723B;
    background: #fff;
}