.header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;

}
.header img{
    border-radius: 50%;
    width: 20%;
    
}
.header .line{
    background-color: var(--tertiaryColor);
    margin-left:10px;
    margin-right:10px;
    height: 1px;
    width: 40%;
}
